.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
}
